<form [formGroup]="formGroup" class="container">
    <h1 mat-dialog-title class="dialog-title" mat-dialog-draggable>{{'device.tag-property-title' | translate}}</h1>
    <mat-icon (click)="onNoClick()" class="dialog-close-btn">clear</mat-icon>
    <div mat-dialog-content class="dialog-content-columns">
        <div class="column-left">
            <div class="my-form-field item-block">
                <span>{{'device.tag-property-device' | translate}}</span>
                <input formControlName="deviceName" type="text" readonly>
            </div>
            <div class="my-form-field item-block mt10">
                <span>{{'device.tag-property-name' | translate}}</span>
                <input formControlName="tagName" type="text">
                <span *ngIf="formGroup.controls.tagName.errors?.name" class="form-input-error">
                    {{formGroup.controls.tagName.errors?.name}}
                </span>
            </div>
            <div class="item-combi">
                <div class="my-form-field item-inline mt10">
                    <span>{{'device.tag-property-type' | translate}}</span>
                    <mat-select formControlName="tagType">
                        <mat-option *ngFor="let type of tagType | enumToArray" [value]="type.key">
                            {{ type.value }}
                        </mat-option>
                    </mat-select>
                </div>
                <div class="my-form-field item-inline mt10 ftr mr5" *ngIf="!isCalculated">
                    <span>{{'device.tag-property-initvalue' | translate}}</span>
                    <input numberOnly formControlName="tagInit" type="text">
                </div>
            </div>
            <div class="my-form-field item-block mt10">
                <span>{{'device.tag-property-description' | translate}}</span>
                <input formControlName="tagDescription" type="text">
            </div>
            <div class="my-form-field item-block mt10" *ngIf="!isCalculated">
                <span>{{'device.tag-property-access' | translate}}</span>
                <mat-select formControlName="tagAccess">
                    <mat-option value="rw">{{'device.tag-access-rw' | translate}}</mat-option>
                    <mat-option value="ro">{{'device.tag-access-ro' | translate}}</mat-option>
                </mat-select>
            </div>
            <!-- Calculated variable: expression input -->
            <div *ngIf="isCalculated" class="mt10">
                <div class="my-form-field item-block">
                    <span>{{'device.tag-expression' | translate}}</span>
                    <textarea id="expressionTextarea" formControlName="tagExpression" rows="3"
                        [placeholder]="'device.tag-expression-hint' | translate"
                        style="resize: vertical; width: 100%;"></textarea>
                </div>
                <div class="mt5">
                    <button mat-raised-button type="button" (click)="onBrowseTag()">
                        <mat-icon>add_link</mat-icon>
                        {{'device.tag-insert-variable' | translate}}
                    </button>
                </div>
                <div class="my-form-field item-block mt5">
                    <span>{{'device.tag-bad-quality-mode' | translate}}</span>
                    <mat-select formControlName="tagBadQualityMode">
                        <mat-option [value]="0">{{'device.tag-bad-quality-mode-0' | translate}}</mat-option>
                        <mat-option [value]="1">{{'device.tag-bad-quality-mode-1' | translate}}</mat-option>
                        <mat-option [value]="2">{{'device.tag-bad-quality-mode-2' | translate}}</mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
        <div class="column-right">
            <app-tag-property-options [tag]="data.tag" [isFuxaServer]="true" #tagOptions></app-tag-property-options>
        </div>
    </div>
    <div mat-dialog-actions class="dialog-action">
        <button mat-raised-button (click)="onNoClick()">{{'dlg.cancel' | translate}}</button>
        <button mat-raised-button color="primary" (click)="onOkClick()" [disabled]="formGroup.invalid || !tagOptions.isValid()">{{'dlg.ok' | translate}}</button>
    </div>
</form>